doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Edit Payment
    body
        #divContainer
            form(action=`/api/payments/updatePayment/${token}/${payment._id}`, method="post")
                input#txtCardHolder(type="text", name="txtCardHolder", value=payment.cardHolder)
                br
                input#txtCardNumber(type="text", name="txtCardNumber", value=payment.cardNumber)
                br
                input#txtMonthExpired(type="number", name="txtMonthExpired", min=1, max=12, value=payment.monthExpired)
                label  / 
                input#txtCardHolder(type="number", name="txtYearExpired", min=2018, max=2030, value=payment.yearExpired)
                br
                input(type="submit", value="Change")
                input(type="reset", value="Reset")
                br
            form(action=`/api/payments/deletePayment/${token}/${payment._id}`, method="post")
                input(type="submit", value="Delete")
            a(href=`/api/myProfile/${token}`) Go Back