doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Change Address
    body
        - var count = 0 
        #divContainer
            div#divAddresses
                #divContainerTop
                    while count < 3
                        div(class="divLinkTop")
                            if address.length > count 
                                a(href=`/api/myProfile/changeAddress/pick/${token}/${address[count]._id}`)
                                    h5(class="headerLabelLink")= address[count].name
                                    h5(class="headerLabelLink")= address[count].street
                            else
                                a(href=`/api/address/${token}/address`)
                                    img(src="/img/add.png" alt="Icon add address")
                                    p(class="headerLabelLink") Add an address
                        - count++  
                #divContainerBottom
                    while count < 6
                        div(class="divLinkBottom")
                            if address.length > count 
                                a(href=`/api/myProfile/changeAddress/${token}/${address[count]._id}`)
                                    h5(class="headerLabelLink")= address[count].name
                                    h5(class="headerLabelLink")= address[count].street
                            else
                                a(href=`/api/address/${token}/address`)
                                    img(src="/img/add.png" alt="Icon add address")
                                    p(class="headerLabelLink") Add an address
                        - count++