doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        script(src="/js/alerts.js")
        script(src="/js/functions.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Manage Payment Methods
    body
        if err 
            script.
                errorAlertDeletePayment("#{err}")
        - var count = 0
        - var cardNumber = ""
        #divContainer
            div#divPayments
                #divContainerTop
                    while count < 3
                        div(class="divLinkTop")
                            if payments.length > count
                                a(href=`/api/payments/editPayment/${payments[count]._id}`)
                                    case payments[count].cardCircuit
                                        when "Visa"
                                            img(src="/img/visa.png" alt="Icon Visa")
                                        when "Maestro"
                                            img(src="/img/maestro.png" alt="Icon Maestro")
                                        when "American Express"
                                            img(src="/img/americanex.png" alt="Icon American Express")
                                        when "MasterCard"
                                            img(src="/img/mastercard.png" alt="Icon Mastercard")
                                        default 
                                            img(src="/img/cardsvg.png" alt="Icon card")
                                    h5(class="headerLabelLink")= payments[count].cardNumber
                                form(class="formImgDeleteTop", method="post", action=`/api/payments/deletePayment/${payments[count]._id}`)
                                    button(type="submit", id="btnDelete")
                                        img(src="/img/deletePaymentAddress.png", alt="Delete Payment")
                            else
                                a(href=`/api/payments/addPayment/manage`)
                                    img(src="/img/add.png", alt="Icon add payment")
                                    h5(class="headerLabelLink") Add payment
                        - count++
                #divContainerBottom
                    while count < 6
                        div(class="divLinkBottom")
                            if payments.length > count
                                a(href=`/api/payments/editPayment/${payments[count]._id}`)
                                    case payments[count].cardCircuit
                                        when "Visa"
                                            img(src="/img/visa.png" alt="Icon Visa")
                                        when "Maestro"
                                            img(src="/img/maestro.png" alt="Icon Maestro")
                                        when "American Express"
                                            img(src="/img/americanex.png" alt="Icon American Express")
                                        when "MasterCard"
                                            img(src="/img/mastercard.png" alt="Icon Mastercard")
                                        default 
                                            img(src="/img/cardsvg.png" alt="Icon card")
                                    h5(class="headerLabelLink")= payments[count].cardNumber
                                form(class="formImgDeleteBottom", method="post", action=`/api/payments/deletePayment/${payments[count]._id}`)
                                    button(type="submit", id="btnDelete")
                                        img(src="/img/deletePaymentAddress.png", alt="Delete Payment")
                            else
                                a(href=`/api/payments/addPayment/manage`)
                                    img(src="/img/add.png", alt="Icon add payment")
                                    p(class="headerLabelLink") Add payment
                        - count++
                div#divBack
                    a(href=`/api/myProfile`, id="btnBack") 
                        label Go back to your profile