doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        link(rel="stylesheet", href="/css/styleMyBasket.css")
        link(rel="stylesheet", href="/css/animate.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
        script(src="/js/alerts.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        title= user.firstName + " " + user.lastName + "'s basket"
    body
        - countPicture = 0
        if removeBasket
            script.
                alertRemoveBasket()
        #divContainer
            #divNav
                #divSearchBar
                    form(action=`/api/products/search`, method="post")
                        center
                            //button(id="btnCategoriesSearch")
                                label Categories
                            input#txtSearchBar(type="text", name="txtSearchBar", placeholder="Look for something")
                            button(type="submit")
                                i(class="fas fa-search")
                #divLogo
                    a(href="/api/products/showProducts")
                        img(src="/img/logo.png")
                #divHome
                    a(href=`/api/products/showProducts/`) 
                        label Products
                #divNome
                    a(href=`/api/myProfile`) 
                        label My Profile
                #divOrders
                    a(href="/api/orders")
                        label Orders
                #divBasket
                    a(href=`/api/basket`)
                        i(class="fas fa-shopping-basket")
                            label(id="labelBasketCount")= basket.count
            #divProducts
                ul
                    if basket.products.length == 0
                        p There are no elements in the basket.
                    else
                        each val in basket.products
                            li
                                #divImg
                                    a(href="#")
                                        img(src=`data:image/png;base64, ${picture[countPicture]}`, alt=`Picture of ${val.name}`)
                                form(action=`/api/basket/removeProductBasket/${val._id}/${count++}`, method="post", class="formProduct")
                                    div.divSingleProduct
                                        a(href=`#`)= val.name
                                        label  by
                                        label(class="nameSeller")= " " + val.seller.firstName + " " + val.seller.lastName
                                        p(class="pDescriptionProduct")= val.description
                                    div.divPrice
                                        label= "Price"
                                        p(class="pPriceProduct")= val.price + "€"
                                    #divButtonsProduct
                                        input(type="submit", id="btnRemoveProductBasket", value="Remove from the basket")
                            hr
                            - countPicture++
                a(href=`/api/products/showProducts/`) Go Back
            if basket.products.length > 0
                #divCheckout
                    #divNumberArticles
                        p= "Current number of articles: " 
                        label= basket.count
                    #divButtonBuy
                        form(action=`/api/payments/pay`, method="get")
                            p= "Price: EUR " + basket.price 
                            input(type="submit" value="Checkout") 
        #divFooter
                #divFooterLeft
                    a(href="#")
                        h4 About Us
                #divFooterCenter
                    a(href="/api/myProfile/logout")
                        h4 Logout
                #divFooterRight
                    a(href="#")
                        h4 Contact Us
    script(src="mainScript.js", type="text/javascript")
