doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title= user.firstName + " " + user.lastName + "'s basket"
    body
        #divContainer
            #divProducts
                each val in basket.products
                     form(action=`/api/basket/removeProductBasket/${val._id}/${token}/${count++}`, method="post")
                        a(href=`#`)= val.name
                        label  di
                        label= " " + val.seller.firstName + " " + val.seller.lastName
                        p= " Price: " + val.price + "€"
                        #divButtonsProduct
                            button(type="submit") Remove from the basket
                        hr
                a(href=`/api/products/showProducts/${token}`) Go Back 
                form(action="DA FARE", method="post")
                    p= "Total: " + basket.price
                    button(type="submit") Buy Now
                
