doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        title= user.firstName + " " + user.lastName + "'s basket"
    body
        #divContainer
            #divProducts
                each val in basket.products
                    form(action=`/api/basket/removeProductBasket/${val._id}/${token}/${count++}`, method="post")
                        a(href=`#`)= val.name
                        label  di
                        label= " " + val.seller.firstName + " " + val.seller.lastName
                        p= " Price: " + val.price + "€"
                        #divButtonsProduct
                            button(type="submit", id="btnRemoveProductBasket") Remove from the basket
                        hr
                a(href=`/api/products/showProducts/${token}`) Go Back 
                form(action=`/api/payments/pay/${token}`, method="post")
                    p= "Total: " + basket.price
                    button(type="submit") Buy Now
    script(src="mainScript.js", type="text/javascript")