doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/css/styleCheckout.css")
        title Pay Now!
    body
        div#divContainer
            div#divForm
                form(action=`/api/payments/confirmPayment`, method="post")
                    div#divAddresses
                        label(class="headerLabel") Choose your address
                            each val in addresses
                                ul
                                    li
                                        input#rdbAddress(type="radio", name="rdbAddress", value=val._id)
                                        label= " " + val.street
                    div#divPayments
                        label(class="headerLabel") Choose your credit card
                        each val in payments
                            ul
                                li
                                    input#rdbPayment(type="radio", name="rdbPayment", value=val._id)
                                    label= " " + val.cardNumber
                    #divPrice
                        label(class="headerLabel") Price
                        p= "EUR " + basket.price
                    #divButtons
                        input(type="submit", value="Pay")
                        button(id="btnGoBack")
                            a(href=`/api/basket`) Cancel
            


