doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/css/styleCheckout.css")
        title Pay Now!
    body
        div#divContainer
            div#divForm
                form(action=`/api/payments/confirmPayment/${token}`, method="post")
                    div#divAddresses
                        label(class="headerLabel") Choose your address
                            each val in addresses
                                ul
                                    li
                                        input#rdbAddress(type="radio", name="rdbAddress", value=val._id)
                                        label= " " + val.street
                    div#divPayments
                        label(class="headerLabel") Choose your credit card
                        each val in payments
                            ul
                                li
                                    input#rdbPayment(type="radio", name="rdbPayment", value=val._id)
                                    label= " " + val.cardNumber
                    #divPrice
                        label(class="headerLabel") Price
                        p= "EUR " + basket.price
                    #divButtons
                        input(type="submit", value="Pay")
                        button(id="btnGoBack")
                            a(href=`/api/basket/${token}`) Cancel

    
    
    
    //
        div#divContainer
            div#divForm
                form(action=`/api/payments/confirmPayment/${token}`, method="post")
                    div#divAddresses
                        label Choose your address
                            each val in addresses
                                ul
                                    li
                                        input#rdbAddress(type="radio", name="rdbAddress", value=val._id)
                                        label= " " + val.street
                    div#divPayments
                        label Choose your method of payment
                        each val in payments
                            ul
                                li
                                    input#rdbPayment(type="radio", name="rdbPayment", value=val._id)
                                    label= " " + val.cardNumber
                    #divPrice
                        p= "Price EUR " + basket.price
                        each val in basket.products
                            a(href=`#`)= val.name
                            label  di
                            label= " " + val.seller.firstName + " " + val.seller.lastName
                            p= " Price: " + val.price + "€"
                            hr
                    #divButtons
                        input(type="submit", value="Pay")
            


