doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Pay Now!
    body
        form(action=`/api/payments/confirmPayment/${token}`, method="post")
            div#divAddresses
            label Choose your address
                each val in addresses
                    ul
                        li
                            input#rdbAddress(type="radio", name="rdbAddress", value=val._id)
                            label= " " + val.street
            div#divPayments
                label Choose your method of payment
                each val in payments
                    ul
                        li
                            input#rdbPayment(type="radio", name="rdbPayment", value=val._id)
                            label= " " + val.cardNumber
            p Your basket:
            each val in basket.products
                a(href=`#`)= val.name
                label  di
                label= " " + val.seller.firstName + " " + val.seller.lastName
                p= " Price: " + val.price + "€"
                hr
            #divButtons
                input(type="submit", value="Pay")
            
