doctype html
html
    head
        title Store App
        meta(charset = 'UTF-8')
        link(rel="stylesheet", href="/css/styleProducts.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    body    
        #container
            #divNav
                #divBasket
                    a(href=`/api/basket/${token}`)= basket.count + " Basket" 
                #divProfile
                    a(href=`/api/myProfile/${token}`) My Profile
            #divProducts
                #listFilter
                    p Filters
                    label(id="typeFitler1") Name:
                    ul
                        li
                            a(href=`/api/products/nameCrescente/${token}`, class="linkFilter") From A to Z
                        li    
                            a(href=`/api/products/nameDecrescente/${token}`, class="linkFilter") From Z to A
                    br
                    #divTypeFilter2
                        label Price:
                        ul
                            li
                                a(href=`/api/products/priceCrescente/${token}`, class="linkFilter") Increasing
                            li
                                a(href=`/api/products/priceDecrescente/${token}`, class="linkFilter") Decreasing
                    
                    #divListCategoriesLeft
                        label Category:
                        ul(id='listCategory')
                            each val in categories
                                li 
                                    a(href=`/api/products/filterCategory/${val['_id']}/${token}`)= val['name']
                #divListCategories
                    ul(id='listCategory')
                        each val in categories
                            li 
                                a(href=`/api/products/filterCategory/${val['_id']}/${token}`)= val['name']
                #divListProducts
                    h2 Products
                    if products.length == 0
                        p(class="error") There are not products to be shown in this category.
                    else
                        each val in products
                            ul
                                li
                                    form(action=`/api/basket/addBasket/${val._id}/${token}`, method="post", class="formProduct")
                                        div.divSingleProduct
                                            a(href=`#`)= val.name
                                            label  di
                                            label(class="nameSeller")= " " + val.seller.firstName + " " + val.seller.lastName
                                            p(class="pDescriptionProduct")= val.description
                                        div.divPrice
                                            label= "Price"
                                            p(class="pPriceProduct")= val.price + "€"
                                        .divButtonsProduct
                                            input(type="submit", value="Add to the basket ") 
                                hr
            #divFooter
                #divFooterLeft
                    a(href="#")
                        h4 About Us
                #divFooterCenter
                    a(href="#")
                        h4 General Information
                #divFooterRight
                    a(href="#")
                        h4 Contact Us


                

    
