doctype html
html
    head
        title Store App
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        script(src="/js/alerts.js")
        link(rel="stylesheet", href="/css/styleProducts.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    body 
        - count = 0
        if reg
            script. 
                alertRegistered()
        if err
            script.
                errorAlertAddProductBasket("#{err}")
        #container
            #divNav
                #divSearchBar
                    form(action=`/api/products/search`, method="post")
                        center
                            button(id="btnCategoriesSearch")
                                label Categories
                            input#txtSearchBar(type="text", name="txtSearchBar", placeholder="Look for something")
                            button(type="submit")
                                i(class="fas fa-search")
                #divBasket
                    a(href=`/api/basket`)
                        label= basket.count 
                        i(class="fas fa-shopping-basket")
                #divProfile
                    a(href=`/api/myProfile`) 
                        label My Profile
            #divProducts
                #listFilter
                    p Filters
                    a(href=`/api/products/showProducts`, id="linkAllProducts") All Products
                    label(id="typeFitler1") Name:
                    ul
                        li
                            a(href=`/api/products/nameCrescente`, class="linkFilter") From A to Z
                        li    
                            a(href=`/api/products/nameDecrescente`, class="linkFilter") From Z to A
                    br
                    #divTypeFilter2
                        label Price:
                        ul
                            li
                                a(href=`/api/products/priceCrescente`, class="linkFilter") Increasing
                            li
                                a(href=`/api/products/priceDecrescente`, class="linkFilter") Decreasing
                    #divListCategoriesLeft
                        label Category:
                        ul(id='listCategory')
                            each val in categories
                                li 
                                    a(href=`/api/products/filterCategory/${val['_id']}`)= val['name']
                #divListCategories
                    ul(id='listCategory')
                        each val in categories
                            li 
                                a(href=`/api/products/filterCategory/${val['_id']}`)= val['name']
                #divListProducts
                    h2 Products
                    if products.length == 0
                        p(class="error") 0 products to be shown.
                    else
                        ul
                            each val in products
                                li
                                    #divImg
                                        img(src=`data:image/png;base64, ${pictures[count]}`, alt=`Picture of ${val.name}`)
                                    form(action=`/api/basket/addBasket/${val._id}`, method="post", class="formProduct")
                                        div.divSingleProduct
                                            a(href=`'/api/products/showProductsByName/${val.seller._id}`)= val.name
                                            label  by
                                            a(href="", class="nameSeller")= " " + val.seller.firstName + " " + val.seller.lastName
                                            p(class="pDescriptionProduct")= val.description
                                        div.divPrice
                                            label= "Price"
                                            p(class="pPriceProduct")= val.price + "€"
                                        .divButtonsProduct
                                            input(type="submit", value="Add to the basket ") 
                                hr
                                - count++
            #divFooter
                #divFooterLeft
                    a(href="#")
                        h4 About Us
                #divFooterCenter
                    a(href="#")
                        h4 General Information
                #divFooterRight
                    a(href="#")
                        h4 Contact Us


                

    
