doctype html
html
    head
        title Store App
        meta(charset = 'UTF-8')
    body    
        #container
            #divBasket
                a(href=`/api/basket/${token}`)= basket.count + " elements in the basket"
            #listFilter
                a(href="/api/products/", class="linkFilter") Per nome: Crescente
                br
                a(href='/api/products/nameDecrescente', class="linkFilter") Per nome: Decrescente
                br
                a(href='/api/products/priceCrescente', class="linkFilter") Per prezzo: Crescente
                br
                a(href='/api/products/priceDecrescente', class="linkFilter") Per prezzo: Decrescente
            #divListCategories
                ul(id='listCategory')
                    each val in categories
                        li 
                            a(href=`/api/products/${val['_id']}`)= val['name']
            #divProfile
                a(href=`/api/myProfile/${token}`) My Profile
            br
            #divListProducts
                each val in products
                    form(action=`/api/products/addBasket/${val._id}/${token}`, method="post")
                        a(href=`#`)= val.name
                        label  di
                        label= " " + val.seller.firstName + " " + val.seller.lastName
                        #divButtonsProduct
                            button(type="submit") Add to the basket 
                        hr

                

    
