doctype html
html
    head
        meta(charset = "UTF-8") 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        title= user.firstName + " " + user.lastName + "'s profile"
    body
        #divContainer
            p Ciao
            p= user
            div#divOperationsAccount
                ul#listOperationsAccount
                    li
                        a(href=`/api/myProfile/changeName/${token}`) Edit your profile
                    li
                        a(href=`/api/myProfile/changeEmail/${token}`) Change your email
                    li
                        a(href=`/api/myProfile/changePassword/${token}`) Change your password
                    li
                        a(href=`/api/myProfile/changeAddress/${token}`) Change your address
                    li
                        a(href=`/api/myProfile/changePayment/${token}`) Manage your payment methods
                    li
                        a(href=`/api/myProfile/deleteProfile/${token}`) Delete your account

