doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        link(rel="stylesheet", href="/css/styleOperations.css")
        script(src="/js/alerts.js")
        title Change Address
    body
        if err 
            script.
                errorAlertEditAddress("#{err}")
        div#divContainer
            div#divForm
                a(href=`/api/myProfile/changeAddress`)
                    img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                form(action=`/api/myProfile/changeAddress/${address._id}`, method="post")
                    div(class="divInput")
                        label(for="txtName") Name
                        input#txtName(type="text", name="txtName", value=address.name)
                    div(class="divInput")
                        label(for="txtStreet") Street
                        input#txtStreet(type="text", name="txtStreet", value=address.street)
                    div(class="divInput")
                        label(for="txtTown") Town
                        input#txtTown(type="text", name="txtTown", value=address.town)
                    div(class="divInput")
                        label(for="txtCity") City
                        input#txtCity(type="text", name="txtCity", value=address.city)
                    div(class="divInput")
                        label(for="txtCountry") Country
                        input#txtCountry(type="text", name="txtCountry", value=address.country)
                    div(class="divInput")
                        label(for="txtZipCode") ZIP Code
                        input#txtZipCode(type="text", name="txtZipCode", value=address.zipCode)
                    div(class="divInput")
                        label(for="txtPhoneNumber") Phone Number
                        input#txtPhoneNumber(type="text", name="txtPhoneNumber", value=address.phoneNumber)
                    div(class="divInput")
                        input(type="reset", value="Reset")
                        input(type="submit", value="Change")
                div(class="divInput")
                    form(action=`/api/address/deleteAddress/${address._id}`, method="post")
                        input(type="submit", style="margin-left: 8px", id="btnDelete", value="Delete")
