doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Your Orders
    body
        - var count = 0 
        #divContainer
            div#divOrders
                #divContainerTop
                    while count < 3
                        div(class="divLinkTop")
                            a(href=`/api/myProfile/changeAddress/pick/${orders[count]._id}`)
                                h5(class="")= "Price EUR " + orders[count].price
                                h5(class="")= orders[count].dateEstimated[0] 
                        - count++  
                #divContainerBottom
                    while count < 6
                        div(class="divLinkBottom")
                            a(href=`/api/myProfile/changeAddress/pick/${orders[count]._id}`)
                                p(id="p1Bottom")= orders[count].price
                                p(id="p2Bottom")= orders[count].dateEstimated
                        - count++
                div#divBack
                    a(href=`/api/myProfile`, id="btnBack") 
                        label Go back to your profile