doctype html
html
    head
        title Store App
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        script(src="/js/alerts.js")
        link(rel="stylesheet", href="/css/styleOrders.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    body 
        - countOrder = 0
        - countPicture = 0
        - countMonth = 0
        #container
            #divNav
                #divSearchBar
                    form(action=`/api/products/search`, method="post")
                        center
                            //button(id="btnCategoriesSearch")
                                label Categories
                            input#txtSearchBar(type="text", name="txtSearchBar", placeholder="Look for a product")
                            button(type="submit")
                                i(class="fas fa-search")
                #divLogo
                    a(href="/api/products/showProducts")
                        img(src="/img/logo.png")
                #divHome
                    a(href=`/api/products/showProducts/`) 
                        label Products
                #divNome
                    a(href=`/api/myProfile`) 
                        label My Profile
                #divBasket
                    a(href=`/api/basket`)
                        i(class="fas fa-shopping-basket")
                            label(id="labelBasketCount")= basket.count
            #divOrders
                #listFilter
                    p Filter by month  
                    ul(id='listCategory')
                        li 
                            a(href=`/api/orders`, style="font-weight: bold") All
                        each val in months
                            li 
                                a(href=`/api/orders/filterByMonth/${countMonth}`)= val
                            - countMonth++
                    p Other filters
                    ul(id='listCategory')
                        li
                            a(href=`/api/orders`, style="font-weight: bold") All
                        li 
                            a(href="/api/orders/filteredByNewest") By latest
                        li 
                            a(href="/api/orders/filteredByOldest") By oldest
                        li 
                            a(href="/api/orders/filteredBySent") Sent
                        li
                            a(href="/api/orders/filteredByNotSent") To be sent
                #divListOrders
                    if filteredMonth 
                        h2= "Your Orders - Ordered in: " + filteredMonth 
                    else if filtered
                        case filtered
                            when "ByNewest"
                                h2= "Your Orders - Filtered by latest order"
                            when "ByOldest"
                                h2= "Your Orders - Filtered by oldest order"
                            when "Sent"
                                h2= "Your Orders - Sent"
                            when "Not Sent"
                                h2= "Your Orders - To be sent"
                    else
                        h2 Your Orders
                    if orders.length == 0
                        p(class="error") 0 orders to be shown.
                    else
                        ul
                            each val in orders
                                li
                                    p(class="pAddress")= "Sent to:"
                                        label= " " + val.address.name + ", " + val.address.street + ", " + val.address.town + ", " + val.address.city + ", " + val.address.country
                                        label(class="labelPhoneNumber")= ". Phone number:"
                                            label= " " + val.address.phoneNumber
                                    p(class="pDateOrder")= "Ordered on:"
                                        label= " " + dateOrder[countOrder].day + "/" + dateOrder[countOrder].month + "/" + dateOrder[countOrder].year
                                    p(class="pDateEstimated")= "Estimated delivery date:"
                                        label= " " + dateEstimated[countOrder].day + "/" + dateEstimated[countOrder].month + "/" + dateEstimated[countOrder].year                                
                                    p(class="pTotalPrice")= "Total Price:"
                                        label= " " + val.price + "€"
                                    each products in val.products
                                        div#divImg
                                            a(href="#")
                                                img(src=`data:image/png;base64, ${pictures[countOrder][countPicture]}`, alt=`Picture of ${products.name}`)
                                        div.divSingleProduct
                                            a(href="#")= products.name
                                            label(class="labelBy")= " by"
                                            a(href=`/api/products/showProductsByName/${products.seller._id}`, class="nameSeller")= " " + products.seller.firstName + " " + products.seller.lastName
                                            p(class="pDescriptionProduct")= products.description
                                        div.divPrice
                                            label= "Price"
                                            p(class="pPriceProduct")= products.price + "€"
                                            - countPicture++
                                        br
                                    hr(style="margin-left: -15px")
                                    - countOrder++
                                    - countPicture = 0
            #divFooter
                #divFooterLeft
                    a(href="#")
                        h4 About Us
                #divFooterCenter
                    a(href="/api/myProfile/logout")
                        h4 Logout
                #divFooterRight
                    a(href="#")
                        h4 Contact Us








//doctype html
//html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Your Orders
    body
        - var count = 0 
        #divContainer
            div#divOrders
                #divContainerTop
                    while count < 3
                        div(class="divLinkTop")
                            a(href=`/api/myProfile/changeAddress/pick/${orders[count]._id}`)
                                h5(class="")= "Price EUR " + orders[count].price
                                h5(class="")= orders[count].dateEstimated[0] 
                        - count++  
                #divContainerBottom
                    while count < 6
                        div(class="divLinkBottom")
                            a(href=`/api/myProfile/changeAddress/pick/${orders[count]._id}`)
                                p(id="p1Bottom")= orders[count].price
                                p(id="p2Bottom")= orders[count].dateEstimated
                        - count++
                div#divBack
                    a(href=`/api/myProfile`, id="btnBack") 
                        label Go back to your profile